*.zip
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.txt
*.cat
*.hdr
*.img
*.lbl
*.png
*.tab
*.gif
*.pdf
*.ful
*.htm
*.idx
*.jpg
*.csv
*.kml
*.xls
*.pyc
*.cpg
*.qmd
*.rar
*.tif
*.gpkg
*.enp
Code_Reference/*
GeoRef_Test/SGPN/*
Dust_Storm_Database/*
*.json
*.ed1
*.qtr
*.eq1
*.ebb
*.docx
